<!-- container -->
<div class="container">
  <!-- inner container -->
  <div class="max-w-lg mx-auto mt-12">
    <!-- form -->
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <!-- header -->
      <h3 class="tui-form__header tui-form__header_margin-top_none">Sign in</h3>
      <!-- /header -->

      <!-- notification -->
      <tui-notification *ngIf="errorMsg" class="my-5" status="error">
        {{ errorMsg }}
      </tui-notification>
      <!-- /notification -->

      <!-- field -->
      <div class="mt-5">
        <tui-input
          tuiTextfieldExampleText="Field placeholder"
          formControlName="username"
          tuiHintContent="A tooltip"
        >
          Username
          <span class="tui-required"></span>
        </tui-input>
        <tui-field-error formControlName="username"></tui-field-error>
      </div>
      <!-- /field -->

      <!-- field -->
      <div class="mt-5">
        <tui-input-password formControlName="password">
          Password
          <span class="tui-required"></span>
        </tui-input-password>
        <tui-field-error formControlName="password"></tui-field-error>
      </div>
      <!-- /field -->

      <!-- button -->
      <div class="mt-5">
        <tui-loader
          [showLoader]="loading"
          [inheritColor]="true"
          [overlay]="true"
          class="inline-flex"
        >
          <button
            tuiButton
            type="submit"
            appearance="primary"
            class="inline-flex w-full"
          >
            Sign in
          </button>
        </tui-loader>
      </div>
      <!-- /button -->

      <!-- link -->
      <a
        href="#"
        class="block mt-8 text-blue-400"
        (click)="onClickForgotPassword()"
      >
        Forgot password?
      </a>
      <!-- /link -->

      <!-- link -->
      <span class="block mt-2">
        Don't have an account?
        <a href="#" class="text-blue-400" (click)="onClickSignUp()">
          Sign up
        </a>
      </span>
      <!-- /link -->
    </form>
    <!-- /form -->
  </div>
  <!-- /inner container -->
</div>
<!-- /container -->
