<tui-theme-night></tui-theme-night>

<tui-root tuiMode="onDark">
  <!-- logged in -->
  <sai-layout *ngIf="isLoggedIn$ | async; else notAuthorized">
    <router-outlet></router-outlet>
  </sai-layout>
  <!-- /logged in -->

  <!-- unauthorized -->
  <ng-template #notAuthorized>
    <router-outlet></router-outlet>
  </ng-template>
  <!-- /unauthorized -->

  <!-- portal layers -->
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs-->
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
  <!-- /portal layers -->
</tui-root>
