<!-- container -->
<div class="container">
  <!-- page header -->
  <div class="flex flex-col mb-16">
    <h1 class="mb-0 text-3xl">Articles</h1>
    <tui-breadcrumbs [items]="breadcrumbs"></tui-breadcrumbs>
  </div>
  <!-- /page header -->

  <!-- list -->
  <tui-loader [overlay]="true" [showLoader]="loading">
    <sai-articles-list
      [articles]="articles$ | async"
      (clickArticle)="onClickArticle($event)"
    ></sai-articles-list>
  </tui-loader>
  <!-- /list -->

  <!-- article content -->
  <article *ngIf="article" class="mt-12">
    <h2 class="mb-2 text-xl">{{article.title}}</h2>

    <p class="text-lg text-gray-500">{{article.content}}</p>
  </article>
  <!-- /article content -->
</div>
<!-- /container -->
